#productContainer {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: stretch;
}

.product {
  width: 200px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
