:root {
    --primary-font-color: #464646;
    --primary-color: #84d8ff;
    --secondary-color: #ecf2ff;
}

body,
.appContainer {
    color: var(--primary-font-color, #464646);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--secondary-color, #afafaf);
}

.contentContainer {
    margin: 100px auto;
    width: 90%;
    max-width: 1400px;
}
